/*
* * * GLOBALS * * *
*/

* { box-sizing: border-box; }

html, body { margin: 0; padding: 0; }

ul, li { margin-left: 0; padding-left: 0; }


/*
* * * LAYOUT * * *
*/

.main-content__wrapper {
  margin: 0 auto;
  max-width: 1003px;
  padding: 0px 10px;
  padding-top: 0;
}

.main-content {
	display: flex;
	flex-direction: row;
}
.main-content aside,
section {
	padding: 1rem;
	border: 1px solid black;
}


/*
*
* * * HEADER * * *
*
*/

.header-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	margin: 0 auto;
}
.header-wrapper nav { width: 20%; }

.header-nav {
	margin: 0;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	list-style: none;
}
.header-nav > * { text-decoration: none; }

.header-social-icons { display: flex; flex-direction: row }
.header-social-icons div { width: 30px; height: 30px; background-color: black; }