@import url('https://fonts.googleapis.com/css?family=Francois+One|Open+Sans|Source+Serif+Pro|Source+Sans+Pro:900');


/*
*
* * * VARIABLES * * *
*
*/

// colors
$dark-navy: #1C344E;
$navy: #1C344E;
$light-navy: #788595;

$dark-teal: #297D7D;
$teal: #539798;
$light-teal: #7FB1B2;

$dark-lilypad: #92C46D;
$lilypad: #A7D189;
$light-lilypad: #BEDCA8;

$dark-yg: #C6E170;
$yg: #D2E68D;
$light-yh: #DDECA9;

$off-white: #f6f5f3;
$charcoal: #333333;
$light-grey: #DADADA;

//fonts
$title-font: 'Francois One', sans-serif;
$lead-font: 'Source Sans Pro', sans-serif;
$block-font: 'Open Sans', sans-serif;
$body-serif: 'Source Serif Pro', 'Times New Roman', serif;


/*
*
* * * MIXINS * * *
*
*/

@mixin appearance($value) {
  -webkit-appearance: $value;
  -moz-appearance: $value;
  -ms-appearance: $value;
  -o-appearance: $value;
  appearance: $value;
}


/*
*
* * * EXTENSIONS * * *
*
*/

%title-text {
	font-family: $lead-font;
	font-size: 2rem;
	color: $charcoal;
}

%font-smoothing {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

/*
*
* * * GLOBALS * * *
*
*/

* {
	font-family: $block-font;
	box-sizing: border-box;
}

html, body { margin: 0; padding: 0; }

ul, li { margin-left: 0; padding-left: 0; }

.svg-icon {
  display:inline-block;
  width:1em;
  height:1em;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

input[type="text"],
input[type="search"],
input[type="password"] {
	@include appearance(none);
	border: 2px solid $light-grey;
	font-style: italic;
	padding: .5rem;
}

.page-title {
	@extend %title-text;
}


/*
*
* * * HEADER * * *
*
*/

.header {
	@extend %font-smoothing;
	font-family: $block-font;
	font-size: 16px;
	background-color: $dark-teal;
	margin-bottom: 4rem;
}

.header-title, .header-title > * {
	font-family: $title-font;
	font-size: 48px;
	color: $off-white;
	text-decoration: none;
	text-transform: uppercase;
}

.header-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	margin: 0 auto;
}
.header-wrapper nav { width: 20%; }

.header-nav {
	margin: 0;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	list-style: none;
}
.header-nav > * { text-decoration: none; color: $off-white; }

.header-social-icons { display: flex; flex-direction: column; align-items: center; }
.header-social-icons .connect { @extend %font-smoothing; padding: .1rem 0.3rem 0; font-size: 14px; color: $off-white; }

.social-icon__wrapper { display: flex; flex-direction: row; }
.social-icon__wrapper a { padding: .2rem; }



/*
*
* * * BLOG * * *
*
*/


	/*
	*
	* * * BLOG LAYOUT * * *
	*
	*/

	.main-content__wrapper {
	  margin: 0 auto;
	  max-width: 1003px;
	  padding: 0px 10px;
	  padding-top: 0;
	}

	.main-content {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.main-content aside,
	section {
		padding: 1.5rem 0.75rem;
	}
	.main-content aside { width: 25%; }
	.main-content section { width: 75%; }


	/*
	*
	* * * BLOG CARD * * *
	*
	*/

	.blog-card {
		position: relative;
		width: 100%;
		height: 16rem;
		margin-bottom: 1.5rem;
	}

	.blog-card__wrapper {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
	}

	.blog-card-info {
		position: absolute;
		left: 0;
		bottom: 0;
		height: 60%;
		width: 100%;
		padding: 0 1rem;
		color: $charcoal;
		font-size: 14px;
		background-color: rgba(255, 255, 255, 0.7);
		transition: height 0.2s ease-in-out;
	}
	.blog-card-info:hover { 
		background-color: rgba(255, 255, 255, 0.8);
		.blog-card__cta {
			color: $charcoal;
		}
	}

	.blog-card__header { text-align: center; }
	.blog-card__header .bc-title { @extend %title-text; padding: 0.3rem 0; border-bottom: 1px solid $charcoal; }
	.blog-card__header .bc-subtitle { margin: 0 auto; padding: 0.3rem 0; display: flex; justify-content: center; font-style: italic; font-size: 12px; border-bottom: 3px solid $charcoal; }
	.bc-subtitle span { margin: 0 1rem; }

	.blog-card__excerpt { font-family: $body-serif; padding: 0.3rem 0; }
	.blog-card__cta { text-align: center; font-family: $body-serif; text-decoration: underline; color: $teal; }

/*
*
* * * ASIDE * * *
*
*/



	/* * * SEARCH FIELD * * */

	.blog-search__wrapper { position: relative; }
	.blog-search__wrapper input[type="search"] { width: 100% }

	.blog-search__button {
    position:absolute;
    top:4px; bottom:4px; right:4px;
    width:30px;
    border:0;
    color:#a8a8a8;
    cursor:pointer;
    background:transparent;
	}


/*
*
* * * ABOUT * * *
*
*/

.about-body {
	font-family: $body-serif;
}


/*
*
* * * SMASH * * *
*
*/

.smash-body {
	font-family: $body-serif;
}

