@import url('https://fonts.googleapis.com/css?family=Francois+One|Open+Sans|Source+Serif+Pro|Source+Sans+Pro:900');

/*
*
* * * VARIABLES * * *
*
*/

// colors
$dark-navy: #1C344E;
$navy: #1C344E;
$light-navy: #788595;

$dark-teal: #297D7D;
$teal: #539798;
$light-teal: #7FB1B2;

$dark-lilypad: #92C46D;
$lilypad: #A7D189;
$light-lilypad: #BEDCA8;

$dark-yg: #C6E170;
$yg: #D2E68D;
$light-yh: #DDECA9;

$off-white: #f6f5f3;
$charcoal: #333333;
$light-grey: #DADADA;

//fonts
$title-font: 'Francois One', sans-serif;
$lead-font: 'Source Sans Pro', sans-serif;
$block-font: 'Open Sans', sans-serif;
$body-serif: 'Source Serif Pro', 'Times New Roman', serif;


/*
*
* * * MIXINS * * *
*
*/

@mixin appearance($value) {
  -webkit-appearance: $value;
  -moz-appearance: $value;
  -ms-appearance: $value;
  -o-appearance: $value;
  appearance: $value;
}


/*
*
* * * EXTENSIONS * * *
*
*/

%font-smoothing {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

%title-text {
	font-family: $lead-font;
	font-size: 2rem;
	color: $charcoal;
}

%body-text {
	font-family: $body-serif;
	font-size: 1rem;
}

@media (max-width: 50rem) {
	%title-text { font-size: 1.8rem; }
	// %body-text { font-size: .8rem; }
}


/*
*
* * * GLOBALS * * *
*
*/

* {
	font-family: $body-serif;
	box-sizing: border-box;
}

html, body { margin: 0; padding: 0; }
body { background-image: url("../images/shine-bg.png"); }

ul, li { margin-left: 0; padding-left: 0; }

a { color: $dark-teal; transition: color .1s ease-in-out; }
a:hover { color: $dark-lilypad; }

.svg-icon {
  display:inline-block;
  width:1em;
  height:1em;
}

.tech-svg {
	display: inline-block;
	width: 2.5rem;
	height: 2.5rem;
}
.photoshop-recolor path {
	fill: white;
}
.webpack-recolor path {
	fill: #1C78C0;
}
.react-recolor path {
	fill: #00d8ff;
}

/* clear those damn default button stylings and set our own */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

input[type="text"],
input[type="search"],
input[type="password"] {
	@include appearance(none);
	border: 2px solid $light-grey;
	font-style: italic;
	padding: .5rem;
}

.subtitle-border { border-top: 1px solid $charcoal; border-bottom: 3px solid $charcoal; }

.page-title {
	@extend %title-text;
}

.photo-cred, .photo-cred > * {
	color: $light-teal;
	font-family: $body-serif;
	font-size: 12px;
}
.photo-cred a:hover { color: $dark-lilypad; }

@media (max-width: 50rem) {
	body, html { font-size: .8rem; }
	.tech-svg{ width: 1.75rem; height: 1.75rem; }
	.photo-cred, .photo-cred > * { font-size: 10px; }
}


/*
*
* * * HEADER * * *
*
*/

.header {
	@extend %font-smoothing;
	font-family: $block-font;
	font-size: 16px;
	background-color: $dark-teal;
	margin-bottom: 2rem;
	overflow: auto;
	display: relative;
}

.header-title, .header-title > * {
	font-family: $title-font;
	font-size: 48px;
	color: $off-white;
	text-decoration: none;
	text-transform: uppercase;
}
.header-title > *:hover { color: $off-white; }

.header-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	margin: 0 auto;
}
.header-wrapper nav { width: 16rem; }

.header-nav {
	margin: 0;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	list-style: none;
}
.header-nav > * { text-decoration: none; color: $off-white; border: $off-white; }

.header-social-icons { display: flex; flex-direction: column; align-items: center; }
.header-social-icons .connect { @extend %font-smoothing; padding: .1rem 0.3rem 0; font-size: 14px; color: $off-white; }

.social-icon__wrapper { display: flex; flex-direction: row; }
.social-icon__wrapper a { padding: .2rem; }

@media (max-width: 50rem) {
	.header { margin-bottom: 1rem; }
	.header-wrapper { flex-direction: column; }
	.header-wrapper nav { margin-bottom: 1rem; }
	.header-social-icons { display: none; }
}



/*
*
* * * BLOG * * *
*
*/


	/*
	*
	* * * BLOG LAYOUT * * *
	*
	*/

	.main-content__wrapper {
	  margin: 0 auto;
	  max-width: 1003px;
	  padding: 0px 10px;
	  padding-top: 0;
	  position: relative;
	  overflow: auto;
	}

	.main-content {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.main-content aside,
	.main-content section {
		padding: 1rem 0.5rem;
	}
	.main-content aside { width: 25%; }
	.main-content section { width: 75%; font-family: $body-serif; }

	@media (max-width:50rem) {
		.main-content { flex-direction: column; }
		.main-content section, 
		.main-content aside { width: 100%; padding: 1rem 0; }
	}


	/*
	*
	* * * BLOG CARD * * *
	*
	*/

	.blog-card {
		position: relative;
		width: 100%;
		height: 14rem;
		margin-bottom: 1.5rem;
	}

	.blog-card__wrapper {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
	}

	.blog-card-info {
		@extend %body-text;
		display: flex;
		flex-direction: column;
		position: absolute;
		left: 0;
		bottom: 0;
		height: 60%;
		width: 100%;
		padding: 0 1rem;
		color: $charcoal;
		background-color: rgba(255, 255, 255, 0.7);
		transition: background-color .2s ease-in-out;
	}
	.blog-card-info:hover { 
		background-color: rgba(255, 255, 255, 0.8);
		.blog-card__header .bc-title { color: $charcoal }
		// .blog-card__cta { color: $dark-lilypad; }
	}

	.blog-card__header { text-align: center; }
	.blog-card__header .bc-title { @extend %title-text; color: $dark-teal; padding: 0.3rem 0; transition: color .2s ease-in-out; }
	.blog-card__header .bc-subtitle { margin: 0 auto; padding: 0.3rem 0; display: flex; justify-content: center; font-size: 14px; }
	.bc-subtitle span { margin: 0 1rem; }

	.blog-card__content {
		flex: 1 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.blog-card__excerpt { font-family: $body-serif; padding: 0.3rem 0; text-align: center; }
	.blog-card__cta { padding: 0 0 .5rem; text-align: center; font-family: $body-serif; font-size: 14px; text-decoration: underline; color: $teal; transition: color .2s ease-in-out; }

	@media (max-width: 50rem) {
		.blog-card { height: 16rem; }
	}

	/*
	*
	* * * BLOG TEMPLATE * * *
	*
	*/
	.post-title {
		@extend %title-text;
	}
	.blog-header h1, h2, h3, h4, h5, h6 { font-family: $body-serif; margin: 0.5rem 0; }

	.post-body {
		font-family: $body-serif;
	}


/*
*
* * * ASIDE * * *
*
*/

	/* * * SEARCH FIELD * * */

	.blog-search__wrapper { position: relative; }
	.blog-search__wrapper input[type="search"] { width: 100% }

	.blog-search__button {
    position:absolute;
    top:4px; bottom:4px; right:4px;
    width:30px;
    border:0;
    color:#a8a8a8;
    cursor:pointer;
    background:transparent;
	}


/*
*
* * * WORK * * *
*
*/

.work__wrapper {
	width: 100%;
}


	/*
	*
	* * * WORK TEMPLATE * * *
	*
	*/

	.work-template-title {
		@extend %title-text;
	}

	.work-detail__wrapper { @extend %body-text;}


	/*
	*
	* * * WORK CARD * * *
	*
	*/

	.work-card__wrapper { 
		display: flex;
		padding: 1rem 0; 
	}

	.work-card__thumb-wrapper { position: relative; border: 1px solid $light-teal; }
	.wctw-hoverfade { position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 2; background-color: none; transition: background-color .2s ease-in-out; }
	
	.work-card__thumb { min-width: 400px; }

	.work-card__info {
		display: flex;
		flex-direction: column;
		flex: 1 0 auto;
		margin: 0 1rem;
		padding: .5rem;
		text-align: center;
		border: 4px solid $light-grey;
		outline: 1px solid $off-white;
		outline-offset: -3px;
	}

	.work-card__title-link-wrapper { text-decoration: none; display: inline; }
	.work-card__title { @extend %title-text; color: $dark-teal; display: inline; transition: color .2s ease-in-out; }
	.work-card__title:hover { color: $charcoal; }

	.work-card__lower { display: flex; flex-direction: column; flex: 1 0 auto; }
	.work-card__content { flex: 1 0 auto; display: flex; flex-direction: column; justify-content: space-between; }
	.work-card__description { padding: 0.5rem 0; }
	.work-card__links { padding: .5rem 0; }
	.work-card__links a { margin-right: 1rem; }
	.work-card__links a:hover { color: $dark-lilypad; }

	.work-card__tech-wrapper > * { margin: 0 .2rem;}

	.work-card__thumb-wrapper:hover { .wctw-hoverfade { background-color: rgba(255, 255, 255, .2) } }

	@media (max-width: 50rem) {
		.work-card__wrapper { flex-direction: column; width: 60%; margin: 0 auto; }
		.work-card__info { margin: 1rem 0; }
		.work-card__thumb { min-width: 300px; }
	}
	@media (max-width: 38rem) {
		.work-card__wrapper { width: 100%; }
	}


/*
*
* * * ABOUT * * *
*
*/

.about-body {
	@extend %body-text;
}

.about-photo { margin-right: 2rem; }
.about-photo:first-child { min-width: 200px; }

.about-info {
	padding: 1rem 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
@media (max-width: 50rem) {
	.about-photo:first-child { min-width: 100px; margin-bottom: 1rem; }
	.about-info { flex-direction: column; align-items: flex-start; }
}


/*
*
* * * SMASH * * *
*
*/

.smash-body {
	@extend %body-text;
	margin: 1rem 0 2rem 0;
}

